

<!--<mat-dialog-actions >
    <button  mat-dialog-close>
      <i class="glyphicon glyphicon-remove-circle"></i>
    </button>    
  </mat-dialog-actions>
  
  <br>
  -->
<div fxLayout="column" fxLayoutAlign="center center" class="row login-container mt-5 mx-0" style="-moz-box-align: center">
  <div fxLayout="column" fxLayoutAlign="center end" class="col-lg-4 col-lg-offset-4">
      <mat-card class="login-card">          
          <mat-card-header>
              <mat-card-title><h3 mat-dialog-title>Login ...</h3></mat-card-title>
          </mat-card-header>
          <mat-card-content>
              <app-login-form></app-login-form>
          </mat-card-content>
      </mat-card>
  </div>
  <br/>
</div>

<div class="row text-center mt-3">
    <a mat-button color="primary" (click)="openRegisterDialog()">
        Create Account
    </a>
</div>