
<h2 mat-dialog-title>Login ...</h2>
<!--<mat-dialog-actions >
    <button  mat-dialog-close>
      <i class="glyphicon glyphicon-remove-circle"></i>
    </button>    
  </mat-dialog-actions>
  
  <br>
  -->
<div fxLayout="column" fxLayoutAlign="center center" class="login-container" style="-moz-box-align: center">
  <div fxLayout="column" fxLayoutAlign="center end">
      <mat-card class="login-card">
          <mat-card-header>
              <mat-card-title></mat-card-title>
          </mat-card-header>
          <mat-card-content>
              <app-login-form></app-login-form>
          </mat-card-content>
      </mat-card>
  </div>
  <br/>
  <a mat-button color="primary" (click)="openRegisterDialog()">
      Create Account
  </a>
 
</div>