<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-actions >
    <button  mat-dialog-close>
      <i class="glyphicon glyphicon-remove-circle"></i>
    </button>    
  </mat-dialog-actions>
  <br>



<div fxLayout="row" fxLayoutAlign="center center" class="fullHeight">
  <mat-card  class="signupCard" fxFlex="1 1 auto">
      <mat-card-header>
          <mat-card-title></mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <form [formGroup]="taskform" fxLayout="column" (ngSubmit)="createtasktable()">            
                <mat-form-field>
                    <mat-label>Select Project</mat-label>
                    <mat-select [(value)]="selected">                      
                      <mat-option *ngFor="let grp of allProject.data.listProjects.items" [value]="grp.name">{{grp.name}}   </mat-option>                    
                    </mat-select>
                  </mat-form-field>
                              
                  <br>
              <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input formControlName="Name" matInput type="text" placeholder="Name" required autofocus
                         tabindex=1>
                  <mat-error *ngIf="taskform.hasError('required',['Name'])">Name is required</mat-error>
              </mat-form-field> 
              <br>
                <mat-form-field>
                    <textarea formControlName ="Description" matInput placeholder="Description"></textarea>
                  </mat-form-field>             
              <div fxLayout="row">              
                
                <button mat-raised-button color="primary" type="submit">Save</button>
              </div>
          </form>
      </mat-card-content>
  </mat-card> 
</div>
