
<div style="width: 400px" class="container todo-list-height">
    <h2 mat-dialog-title> TASK Status<mat-dialog-actions class="d-inline float-right pt-0">
       
        <button  mat-dialog-close style="background: none;border: none; border-style:none">
          <i class="glyphicon glyphicon-remove-circle"></i>
        </button>    
      </mat-dialog-actions></h2>     
      <br>
<mat-card class="example-card">
    <mat-card-header>      
      <mat-card-title>1 task in progress</mat-card-title>
      <mat-card-subtitle><mat-progress-bar mode="determinate" value="60"></mat-progress-bar></mat-card-subtitle>
      <mat-card-title>Completed -(3)Tasks.</mat-card-title>
      <mat-card-subtitle><mat-progress-bar mode="determinate" value="30"></mat-progress-bar></mat-card-subtitle>
      <mat-card-title>Pending -(1)Tasks. </mat-card-title>
      <mat-card-subtitle><mat-progress-bar mode="determinate" value="10"></mat-progress-bar></mat-card-subtitle>      
    </mat-card-header>
    <img mat-card-image src="#" alt="">
    <mat-card-content>      
    </mat-card-content>   
  </mat-card>
</div>
