<mat-dialog-actions >
    <button  mat-dialog-close>
      <i class="glyphicon glyphicon-remove-circle"></i>
    </button>    
  </mat-dialog-actions>
  
  <br>
<p>
  Please enter the email address..
</p>
<form class="example-form">
    <mat-form-field class="example-full-width"  >
      <input matInput placeholder="Email address" value="abc@domain.com">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a Reason"></textarea>
    </mat-form-field>
    <button class="float-right" type="button" mat-flat-button  (click)="openProjectDetailsDialog()">
       Reset Password
         </button>
  </form>