  <h2 mat-dialog-title> My Profile<mat-dialog-actions class="d-inline float-right pt-0">
       
        <button  mat-dialog-close style="background: none;border: none; border-style:none">
          <i class="glyphicon glyphicon-remove-circle"></i>
        </button>    
      </mat-dialog-actions></h2>     
      <br>
<mat-dialog-content>
    <form [formGroup]="editProfileForm" fxLayout="column" (ngSubmit)="onEditProfile()">
        <div fxLayout="row">
            <mat-form-field appearance="outline" style="width:50%;margin-right:12px">
                <mat-label>First Name</mat-label>
                <input
                    formControlName="firstName"
                    matInput
                    placeholder="First Name"
                    autocorrect="off"
                    autocapitalize="off"
                    spellcheck="false"
                    required
                    value="Arun"
                />
            </mat-form-field>

            <mat-form-field appearance="outline" style="width:50%">
                <mat-label>Last Name</mat-label>
                <input
                    formControlName="lastName"
                    matInput
                    placeholder="Last Name"
                    autocorrect="off"
                    autocapitalize="off"
                    spellcheck="false"
                    required
                    value="Ind"
                />
            </mat-form-field>
        </div>

        <mat-form-field appearance="outline" style="width: 50%">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" value="{{ email }}" disabled />
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 50%">
            <mat-label>Phone Number</mat-label>
            <input
                matInput
                placeholder="Phone Number"
                value="{{ phone }}"
                disabled                
            />
        </mat-form-field>      

        <hr />

      

    </form>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
   
    <button       
        type="button"
        mat-flat-button
        mat-button-right     
    >
        <span >Save</span>
      
    </button>
</mat-dialog-actions>
